body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}

#logo {
  width: 80px;
}

.catImg {
  display: flex;
  flex-wrap: wrap;
}

.aboutMain {
  width: 90%;
  margin: auto;
}

.mainImg {
  width: 25%;
  padding: 5px;
  object-fit: cover;
}

.resqImg {
  width: 50%;
  padding: 5px;
  object-fit: cover;
}

.row {
  margin: 0px;
  padding: 0px;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.list-group-item {
  padding-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.alert {
  margin: 2rem auto;
  background-color: #d4edda;
  color: #155724;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  display: none;
}
